.ui.segment
  %table.ui.very.basic.table
    %thead
      %tr 
        %th User name 
        %th Menu items
        %th Total cost
      %tbody
        - @show_facade.menu_orders.each do |order|
          %tr
            %td 
              = link_to order.user.name, admin_user_path(order.user)
            %td 
              = order.food_items_in_one_sentence
            %td  
              = order.cost
              