.field
  = f.input :food_item_id, label: courses[f.index], input_html: { class: "ui selection dropdown" }, prompt: 'Select',
                              collection: @new_facade.food_items_collection(f.index)