.column 
  .field
    = f.input :food_item_id, label: courses[f.index], include_blank: true,
                              collection: FoodItem.where(daily_menu: params[:daily_menu_id], course: f.index)