- if page.current?
  = link_to url, title: page, class: 'item active', remote: remote do
    = @index_facade.paginated_daily_menus.first.created_at_day_month + " - " + @index_facade.paginated_daily_menus.last.created_at_day_month
- else
  = link_to url, title: page, class: 'item', remote: remote do
    = page
