%h1.ui.center.aligned.header Orders 
.ui.segment
  %table.ui.very.basic.table
    %thead
      %tr 
        %th Order date 
        %th Menu items 
        %th Total cost
      %tbody
        - user.orders.each do |order|
          %tr
            %td
              = link_to DailyMenuDecorator.new(order.daily_menu).formatted_created_at, admin_daily_menu_path(order.daily_menu)
            %td 
              = OrderDecorator.new(order).food_items_in_one_sentence
            %td  
              = OrderDecorator.new(order).cost
              