%h1.ui.center.aligned.header Orders 
.ui.segment
  %table.ui.very.basic.table
    %thead
      %tr 
        %th Order date 
        %th Menu items 
        %th Total cost
      %tbody
        - user.orders.each do |order|
          %tr
            %td
              = link_to order.daily_menu_formatted_created_at, admin_daily_menu_path(order.daily_menu)
            %td 
              = order.food_items_humanized
            %td  
              = order.cost
              