.ui.container
  .ui.one.column.grid
    .column
      = render "user_info"
    .column
      %h1.ui.center.aligned.header Orders
      = render "shared/orders_list", orders: user.orders
                